<!doctype html>
<html lang="en-US">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <![endif]-->
  <meta name="description" content="Rust project code quality report cards">
  <meta name="keywords" content="Rust Report Card, Rust, GitHub, Code, Programming Language">
  <meta name="author" content="Ri Xu">
  <meta name="robots" content="all">
  <meta content="always" name="referrer">
  <meta name="copyright" content="Ri Xu Online">
  <meta name="language" content="en-US">
  <meta name="owner" content="Ri Xu">
  <meta name="topic" content="Programming,Tools,Rust">
  <meta name="category" content="Tools">
  <meta name="summary" content="Rust Report Card">
  <meta name="rating" content="General">
  <meta name="coverage" content="Worldwide">
  <meta name="distribution" content="Global">
  <meta property="fb:app_id" content="663579267156644">
  <meta property="article:author" content="xuri">
  <meta property="og:site_name" content="Ri Xu Online">
  <meta property="og:title" content="Rust Report Card">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://rust-reportcard.xuri.me">
  <meta property="og:image" content="https://rust-reportcard.xuri.me/assets/rust-logo-600x600.png">
  <meta property="og:description" content="Rust project code quality report cards">
  <meta property="twitter:card" content="summary">
  <meta property="twitter:url" content="https://rust-reportcard.xuri.me">
  <meta property="twitter:title" content="Rust Report Card">
  <meta property="twitter:description" content="Rust project code quality report cards">
  <meta property="twitter:image" content="https://rust-reportcard.xuri.me/assets/rust-logo-600x600.png">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="dns-prefetch" href="//rust-reportcard.xuri.me">
  <link href="https://rust-reportcard.xuri.me/" rel="prefetch">
  <link rel="copyright" href="http://www.opensource.org/licenses/mit-license.php" />
  <link rel="alternate icon" type="image/png" href="/assets/rust-logo-600x600.png">
  <link rel="icon" sizes="32x32" type="image/svg+xml" href="/assets/favicon.svg">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/rust-logo-600x600.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/rust-logo-600x600.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/rust-logo-600x600.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/rust-logo-600x600.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/rust-logo-600x600.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/rust-logo-600x600.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/rust-logo-600x600.png">
  <link rel="apple-touch-icon" href="/assets/rust-logo-600x600.png">
  <title>Rust Report Card | Rust project code quality report cards</title>
  <link rel="stylesheet" href="/assets/bulma.0.0.23.min.css">
  <style>
    .header .is-active {
      font-weight: bold;
    }
  </style>
</head>

<body>
  <header class="header">
    <div class="container">
      <!-- Left side -->
      <div class="header-left">
        <a class="header-item" href="/">
          <h3 class="title">Rust Report Card</h3>
        </a>
      </div>

      <!-- Hamburger menu (on mobile) -->
      <span class="header-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <!-- Right side -->
      <div class="header-right header-menu">
        <span class="header-item">
          <a href="/high_scores">High Scores</a>
        </span>
        <span class="header-item">
          <a href="https://github.com/xuri/rust-reportcard">GitHub</a>
        </span>
        <span class="header-item">
          <a href="/supporters">Supporters</a>
        </span>
        <span class="header-item is-active">
          <a href="/about">About</a>
        </span>
      </div>
    </div>
  </header>
  <section class="section">
    <div class="container">
      <h1 class="title">About</h1>
      <p>Rust Report Card was initially developed during 2021</a></p>
      <hr>
    </div>
  </section>
  [[ template "footer" . ]]
</body>

</html>