<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
<link rel="alternate icon" type="image/png" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
    <title>Rust Report Card | Rust project code quality report cards</title>
    <link rel="stylesheet" href="/assets/bulma.0.0.23.min.css">
    <style>
    .header .is-active {
        font-weight: bold;
    }
    </style>
</head>
<body>
    <header class="header">
    <div class="container">
          <!-- Left side -->
          <div class="header-left">
            <a class="header-item" href="/">
              <h3 class="title">Rust Report Card</h3>
            </a>
          </div>

          <!-- Hamburger menu (on mobile) -->
          <span class="header-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>

          <!-- Right side -->
          <div class="header-right header-menu">
            <span class="header-item">
              <a href="/high_scores">High Scores</a>
            </span>
            <!-- <span class="header-item">
              <a href="https://github.com/xuri">GitHub</a>
            </span> -->
            <span class="header-item">
              <a href="/supporters">Supporters</a>
            </span>
            <span class="header-item is-active">
              <a href="/about">About</a>
            </span>
          </div>
        </div>
    </header>
    <section class="section">
        <div class="container">
            <h1 class="title">About</h1>
            <p>Rust Report Card was initially developed during 2021</a></p>
            <hr>
        </div>
    </section>
    [[ template "footer" . ]]
</body>
</html>
