<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="alternate icon" type="image/png" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
  <title>Rust Report Card | Rust project code quality report cards</title>
  <link rel="stylesheet" href="/assets/bulma.0.0.23.min.css">
  <style>
    .header .is-active {
      font-weight: bold;
    }
  </style>
</head>

<body>
  <header class="header">
    <div class="container">
      <!-- Left side -->
      <div class="header-left">
        <a class="header-item" href="/">
          <h3 class="title">Rust Report Card</h3>
        </a>
      </div>

      <!-- Hamburger menu (on mobile) -->
      <span class="header-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <!-- Right side -->
      <div class="header-right header-menu">
        <span class="header-item is-active">
          <a href="/high_scores">High Scores</a>
        </span>
        <span class="header-item">
          <a href="https://github.com/xuri/rust-reportcard">GitHub</a>
        </span>
        <span class="header-item">
          <a href="/supporters">Supporters</a>
        </span>
        <span class="header-item">
          <a href="/about">About</a>
        </span>
      </div>
    </div>
  </header>
  <section class="section">
    <div class="container">
      <h1 class="title">High Scores</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Rust Files</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          [[ range $index, $highScore := .HighScores ]]
          <tr>
            <td><a href="/report/[[ $highScore.Repo]]">[[ add $index 1 ]]</td></a>
            <td><a href="https://[[ $highScore.Repo ]]" rel="nofollow">[[ $highScore.Repo ]]</a></td>
            <td>[[ $highScore.Files ]]</td>
            <td>[[ formatScore $highScore.Score ]]</td>
          </tr>
          [[end]]
        </tbody>
      </table>
      <hr>
      <p>
        Reports generated for <strong>[[ .Count ]]</strong> unique repos so far. Only repos with >= 10 files are
        considered for the high score list.
      </p>
    </div>
  </section>
  [[ template "footer" . ]]
</body>

</html>