<!doctype html>
<html lang="en-US">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <![endif]-->
  <meta name="description" content="Rust project code quality report cards">
  <meta name="keywords" content="Rust Report Card, Rust, GitHub, Code, Programming Language">
  <meta name="author" content="Ri Xu">
  <meta name="robots" content="all">
  <meta content="always" name="referrer">
  <meta name="copyright" content="Ri Xu Online">
  <meta name="language" content="en-US">
  <meta name="owner" content="Ri Xu">
  <meta name="topic" content="Programming,Tools,Rust">
  <meta name="category" content="Tools">
  <meta name="summary" content="Rust Report Card">
  <meta name="rating" content="General">
  <meta name="coverage" content="Worldwide">
  <meta name="distribution" content="Global">
  <meta property="fb:app_id" content="663579267156644">
  <meta property="article:author" content="xuri">
  <meta property="og:site_name" content="Ri Xu Online">
  <meta property="og:title" content="Rust Report Card">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://rust-reportcard.xuri.me">
  <meta property="og:image" content="https://rust-reportcard.xuri.me/assets/rust-logo-600x600.png">
  <meta property="og:description" content="Rust project code quality report cards">
  <meta property="twitter:card" content="summary">
  <meta property="twitter:url" content="https://rust-reportcard.xuri.me">
  <meta property="twitter:title" content="Rust Report Card">
  <meta property="twitter:description" content="Rust project code quality report cards">
  <meta property="twitter:image" content="https://rust-reportcard.xuri.me/assets/rust-logo-600x600.png">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="dns-prefetch" href="//rust-reportcard.xuri.me">
  <link href="https://rust-reportcard.xuri.me/" rel="prefetch">
  <link rel="copyright" href="http://www.opensource.org/licenses/mit-license.php" />
  <link rel="alternate icon" type="image/png" href="/assets/rust-logo-600x600.png">
  <link rel="icon" sizes="32x32" type="image/svg+xml" href="/assets/favicon.svg">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/rust-logo-600x600.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/rust-logo-600x600.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/rust-logo-600x600.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/rust-logo-600x600.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/rust-logo-600x600.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/rust-logo-600x600.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/rust-logo-600x600.png">
  <link rel="apple-touch-icon" href="/assets/rust-logo-600x600.png">
  <title>Rust Report Card | Rust project code quality report cards</title>
  <link rel="stylesheet" href="/assets/bulma.0.0.23.min.css">
  <link rel="stylesheet" href="/assets/rsreportcard.css">
</head>

<body>
  <div id="notifications">
  </div>
  <header class="header">
    <div class="container">
      <!-- Left side -->
      <div class="header-left">
        <a class="header-item" href="/">
          <h3 class="title">Rust Report Card</h3>
        </a>
      </div>

      <!-- Hamburger menu (on mobile) -->
      <span class="header-toggle" data-target="header-menu">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <!-- Right side -->
      <div class="header-right header-menu" id="header-menu">
        <span class="header-item">
          <a href="/high_scores">High Scores</a>
        </span>
        <span class="header-item">
          <a href="https://github.com/xuri/rust-reportcard">GitHub</a>
        </span>
        <span class="header-item">
          <a href="/supporters">Supporters</a>
        </span>
        <span class="header-item">
          <a href="https://patreon.com/xuri" style="color:#2e2459">Patreon</a>
        </span>
        <span class="header-item">
          <a href="/about">About</a>
        </span>
      </div>
    </div>
  </header>
  <section class="hero is-primary is-medium has-text-centered gopher">
    <div class="hero-content">
      <div class="container">
        <h2 class="subtitle">
          Enter the <strong>crate repo</strong> path to the project below:
        </h2>
        <form method="POST" action="/checks" id="check_form">
          <div>
            <p class="url">
              <input name="repo" type="text" class="input-box" placeholder="github.com/xuri/excelize-rs" />
            </p>
          </div>
          <div>
            <button type="submit" class="button btn-test is-large">Generate Report</button>
          </div>
        </form>
      </div>
    </div>
  </section>
  <section class="section container-suggestions">
    <div class="container">
      <div class="columns">
        <div class="column is-half">
          <table class="table">
            <thead>
              <tr>
                <th>Sponsored Report Cards</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-link"><a href="https://patreon.com/xuri">[Your Repo Here!]</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="column is-half">
          <table class="table">
            <thead>
              <tr>
                <th>Recently Generated</th>
              </tr>
            </thead>
            <tbody>
              [[ range .Recent ]]
              <tr>
                <td class="table-link"><a href="/report/[[ . ]]">[[ . ]]</td>
              </tr>
              [[ end ]]
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section class="section container-results hidden">
    <div class="container">
      <div class="columns results-text">
      </div>
      <div class="columns">
        <div class="column is-quarter">
          <nav class="menu results">
          </nav>
          <div class="container-update">
          </div>
        </div>
        <div class="column">
          <div class="results-details">
          </div>
        </div>
      </div>
    </div>
  </section>

  [[ template "footer" . ]]

  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.2.1/jquery.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"
    integrity="sha256-+JMHsXRyeTsws/tzbIh5YHQxRdKCuNjmvNcTFtY6DLc=" crossorigin="anonymous"></script>
  <script id="template-alert" type="text/x-handlebars-template">
      <div class="notification is-warning">
          <button class="delete"></button>
          {{{message}}}
      </div>
    </div>
  </script>
  <script>
    var loading = false;

    // initialize handlebars templates
    var templates = {};
    $("script[id^=template]").each(function () {
      var name = $(this).attr("id").substring(9);
      var source = $(this).html();
      templates[name] = Handlebars.compile(source);
    });

    function alertMessage(msg) {
      var html = templates.alert({ message: msg });
      var $alert = $(html);
      $alert.find(".delete").on("click", function () {
        $(this).closest(".notification").remove();
      });
      $("#notifications").children().remove();
      $alert.hide();
      $alert.appendTo("#notifications");
      $alert.slideDown();
    }

    var loadData = function (getRequest) {
      loading = true;
      var $form = $(this),
        url = $form.attr("action"),
        method = $form.attr("method"),
        data = {};
      $form.serializeArray().map(function (x) { data[x.name] = x.value; });

      if (!data["repo"]) {
        alertMessage("Input cannot be empty. Please enter a valid repository path");
        return false;
      }
      $("#check_form .button").addClass("is-loading");

      $.ajax({
        type: getRequest ? "GET" : "POST",
        url: url,
        data: data,
        dataType: "json"
      }).fail(function (xhr, status, err) {
        alertMessage("There was an error processing your request: " + xhr.responseText);
      }).done(function (data, textStatus, jqXHR) {
        if (data.redirect) {
          window.location.href = data.redirect;
        }
      }).always(function () {
        loading = false;
        $("a.refresh-button").removeClass("is-loading");
        $("#check_form .button").removeClass("is-loading");
      });
      return false;
    };

    // on ready
    $(function () {
      // Get all "header-toggle" elements
      var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.header-toggle'), 0);
      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {
        // Add a click event on each of them
        $navbarBurgers.forEach(function ($el) {
          $el.addEventListener('click', function () {
            // Get the target from the "data-target" attribute
            var target = $el.dataset.target;
            var $target = document.getElementById(target);
            // Toggle the class on both the "header-toggle" and the "header-menu"
            $el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }
      // handle form submission
      $("form#check_form").submit(loadData);
    });
  </script>
</body>

</html>